html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #151616;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 

  --projects-size: 40vh;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 2rem;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 0.5rem;
  border-bottom: var(--border);
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}
.icon-right svg,
.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
  justify-content: center;
  display: flex;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  z-index: 1;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
  box-sizing: border-box;
  padding: 1rem;
  top: 0;
  left: 0;
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

/* .menu-secondary-exit {

} */
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}


/* Brand Navigation */

.brand-nav{
 display: flex; 
 align-items: center;
 margin-right: auto;
}

.icon-brand{
  --button-size: calc(var(--nav-size) * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 1px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-title {
  display: flex;
  margin: 2px;
  color: var(--text-color);
  font-size: 2rem;
}


/* Recent Projects */

.recent-projects{
  height: auto;

  /* Maximum Compatibility */
background: rgb(21,22,22);
background: -moz-linear-gradient(180deg, rgba(21,22,22,1) 0%, rgba(36,37,38,1) 35%, rgba(72,74,77,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(21,22,22,1) 0%, rgba(36,37,38,1) 35%, rgba(72,74,77,1) 100%);
background: linear-gradient(180deg, rgba(21,22,22,1) 0%, rgba(36,37,38,1) 35%, rgba(72,74,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151616",endColorstr="#484a4d",GradientType=1);
}

.projects{
  display: flex;
  justify-content: space-around;
  color: var(--text-color);
  flex-wrap: wrap;
}


.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image{
  --button-size: 15rem;
  width: var(--button-size);
  height: var(--button-size);
  background-color: #e9eff8;
  border-radius: 50%;
  padding: 1px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-title{
font-size: 2.5rem;
}

/* About Us */

.about-us{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
 /* height:auto; */
background: rgb(72,74,77);
background: -moz-linear-gradient(180deg, rgba(72,74,77,1) 0%, rgba(50,82,113,1) 35%, rgba(28,48,144,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(72,74,77,1) 0%, rgba(50,82,113,1) 35%, rgba(28,48,144,1) 100%);
background: linear-gradient(180deg, rgba(72,74,77,1) 0%, rgba(50,82,113,1) 35%, rgba(28,48,144,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#484a4d",endColorstr="#1c3090",GradientType=1);
}

.us{
   display: flex;
  justify-content: space-around;
  color: var(--text-color);
  flex-wrap: wrap;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-title{
font-size: 2.5rem
}

.user-image{
 --button-size: 15rem;
  width: var(--button-size);
  height: var(--button-size);
  background-color: #e9eff8;
  border-radius: 50%;
  padding: 1px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.about-title{
  margin: 1rem;
 font-size: 3.5rem; 
 display: flex;
  margin:auto;
  margin-top: 3rem;
 justify-self: center;
 color: #e9eff8;
 text-shadow: 2px 2px black;
}


/* Utils */

.shadow{
box-shadow: 2px 2px rgba(0,0,0,0.3);
}

.containing{
  margin: 2rem;
  -webkit-box-shadow: 9px 9px 18px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 18px -4px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 18px -4px rgba(0,0,0,0.75);
  border-radius: 5%;
}

/* Poll Style */

.styles_question__3qxRo {
 
  color: #e7e3e3 !important;
  text-align: inherit;
  font-weight: normal;
  margin: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #6d4b943b;
  font-size: 5rem;
}

.styles_poll__1QbHf{
  background: rgba(10,5,25,200);
  color: #e7e3e3 !important;
}

.styles_option__1sn1C{
  color: #e7e3e3 !important;
  background: rgba(200,200,200,100) ;
}

.styles_option__1sn1C:hover{
  filter: brightness(1.2) !important;
}

.styles_votes__3IO-o{
  color: #92606088 !important;
}


